* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    animation: opacity .8s linear forwards;
}
@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.auto {
    background: black;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.menu-section {
    background: black;
}

.web-name {
    float: left;
    color: #ff2b2b;
    font-size: 35px;
    font-style: italic;
}

.web-name:before {
    content: "<";
    font-size: 35px;
    color: white;
}

.web-name:hover:before {
    content: "{";
    font-size: 35px;
    color: white;
}

.web-name:after {
    content: "/>";
    font-size: 35px;
    color: white;
}

.web-name:hover:after {
    content: "}";
    font-size: 35px;
    color: white;
}

.menu {
    float: right;
}

ul {}

ul li {
    float: left;
    list-style-type: none;
}

ul li a {
    display: block;
    color: white;
    padding: 10px 25px;
    transition: 0.1s;
}

ul li a:hover {
    color: gray;
    text-decoration: none;
}

ul li a:focus {
    color: orange;
    border-bottom: 2px solid orange;
}

#home {
    display: none;
}

#project {
    display: none;
}

#experience {
    display: none;
    width: 55%;
}

#about {
    display: none;
}
.row{
    margin-top: 0%;
}
.card {
    background: black!important;
    border: 0.1px solid orange;
    height: 430px!important;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 120px;
    
}

.card:hover {
    box-shadow: 2px 4px 15px 0px #ffa500a6;
    border: none;
}

.card-title {
    margin-top: 40px;
}
.range {
    height: 35px;
    width: 100%;
    border-radius: 50px;
    background: #313131;
}

.range-color-html {
    height: 35px;
    width: 0%;
    border-radius: 50px;
    background: linear-gradient(to left, #00ffa16b, cyan);
    animation: animate1 0.4s linear forwards;
}

@keyframes animate1 {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

.range-color-CSS {
    height: 35px;
    width: 0%;
    border-radius: 50px;
    background: linear-gradient(to left, green, #9dff00);
    animation: animate2 0.5s linear forwards;
}

@keyframes animate2 {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.range-color-bootstrap {
    height: 35px;
    width: 0%;
    border-radius: 50px;
    background: linear-gradient(to left, yellow, red);
    animation: animate3 0.2s linear forwards;
}

@keyframes animate3 {
    0% {
        width: 0%;
    }
    100% {
        width: 99.9%;
    }
}

.range-color-javascript {
    height: 35px;
    width: 0%;
    border-radius: 50px;
    background: linear-gradient(to left, #fb00ff, red);
    animation: animate4 0.6s linear forwards;
}

@keyframes animate4 {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

.me-width {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;

    margin-left: 163px;

}
.frame{
    width: 195px;
    border-radius: 50%;
    height: 195px;
    margin-left: -7px;
    margin-top: -7px;
    position: absolute;
    background: none;
    border: 5px dashed #ff00e0;
    transition: 4s;
    animation: animate 20s linear infinite;

    margin-left: 156px;

}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
100%{
    transform: rotate(360deg);

}
}


#about h5 {
    text-align: center;
    width: 280px;
    margin: 0 auto;
    margin-top: 35px;
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 170px;}
@media(max-width:492px){
    .me-width {
        width: 21%;
        margin-left: 39%;
        border-radius: 50%;
        position: relative;
    }
}